#login-input {
	width: 8em;
}

#alert-outer-container {
	position: relative;
	height: 0;
}

#alert-inner-container {
	position: absolute;
	top: 10px;
	left: 0px;
	width: 100%;
	pointer-events: none;
}

.siimple-alert {
	z-index: 9999;
	overflow-wrap: break-word;
	max-width: 700px;
	margin: 0 auto;
	opacity: 0.9;
	pointer-events: auto;
}

.config-page-btns {
	margin-top: 5px;
	margin-bottom: 5px;
}
