#login-input {
	width: 8em;
}

#alert-outer-container {
	position: relative;
	z-index: 9999;
	height: 0;
	top: -20px;
}

#alert-inner-container {
	position: absolute;
	width: 100%;
	opacity: 0.9;
}

.siimple-alert {
	overflow-wrap: break-word;
}
